name: CI
on: [push]
permissions:
  contents: write
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.4.0
    - uses: cachix/install-nix-action@v15 
    
    - run: nix develop --command just ci

    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        folder: dist